* {
    font-family: 'Poppins', sans-serif;
}


  .sticky-footer {
    background-color: #f8f9fa; /* Set your desired background color */
    padding: 20px;
    text-align: center;
  }

h1 {
    color: white;
}

.angosto {
    width: 65vh;
}