HOLA
<div class="container-fluid d-flex flex-column min-vh-100 bg">
    <div class="d-flex justify-content-center p-3">
        <h1>
          <i class="bi bi-capsule"></i>Calculadora de anestesia
        </h1>
      </div>
    <div class="row flex-grow-1">
      <app-calculadora></app-calculadora>
    </div>
    <div class="row">
      <div class="col">
        <div class="sticky-footer white">
          No nos hacemos responsables por ninguna cosa xd
        </div>
        <div class="text-center white">
            La muela feliz ©
          </div>
      </div>
    </div>
  </div>
  